<div class="container mt-5">
    <form action="/admin/add-coupon" method="post" onsubmit="return validateForm()">
        <div class="form-group my-2">
            <label for="couponName">Coupon Name</label>
            <input type="text" name="couponName" class="form-control" id="couponName"
                placeholder="Enter Coupon name">
        </div>
        <div class="form-group my-2">
            <label for="couponDescription">Coupon Description</label>
            <input type="text" name="couponDescription" class="form-control" id="couponDescription"
                placeholder="Enter Coupon Description">
        </div>
        <div class="form-group my-2">
            <label for="discountPercent">Discount Percentage</label>
            <input type="number" name="discountPercent" class="form-control" id="discountPercent"
                placeholder="Enter discount percentage">
        </div>
        <div class="form-group my-2">
            <label for="validFrom">Start Date</label>
            <input type="date" name="validFrom" class="form-control" id="validFrom"
                placeholder="Enter Start Date"> <span class="formError" style="color: red;"></span>
        </div>
        <div class="form-group my-2">
            <label for="validTill">End Date</label>
            <input type="date" name="validTill" class="form-control" id="validTill"
                placeholder="Enter End Date"> <span id="dateError" class="formError" style="color: red;"></span>
        </div>
        <div class="form-group my-2">
            <label for="minAmount">Minimum Purchase Amount</label>
            <input type="number" name="minAmount" class="form-control" id="minAmount"
                placeholder="Enter Minimum Purchase Amount">
        </div>
        <div class="form-group my-2">
            <label for="maxAmount">Maximum Purchase Amount</label>
            <input type="number" name="maxAmount" class="form-control" id="maxAmount"
                placeholder="Enter Maximum Purchase Amount">
        </div>
        <div class="form-group my-2">
            <label for="maxUses">Usage Limit</label>
            <input type="number" name="maxUses" class="form-control" id="maxUses"
                placeholder="Enter Usage Limit for Coupon">
        </div>
        <div class="form-group my-2">
            <label for="couponType">Status</label>
            <select class="form-control" name="Status" id="couponType" >
                <option>Enable</option>
                <option>Disable</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-2 mt-4">Save Coupon</button>
            <button type="reset" class="btn btn-secondary mb-2 mt-4">Cancel</button>
        </div>
        
    </form>
</div>

<script>
    function setError(id,error){
        element=document.getElementById(id);
        element.getElementById('dateError').innerHTML=error;
    }
    function validateForm(){

        let returnval=true;
        let field1 = document.querySelector('#validFrom');
        let field2 = document.querySelector('#validTill');

        let fromDate=new Date(field1.value)
        let tillDate=new Date(field2.value)
        
        if (fromDate > tillDate){
            setError("dateError","It is not possible to use dates in this way")
            returnval=false
        }
        return returnval
    }

</script>