<div class="container mt-5">
    <form action="/admin/add-coupon" method="post">
        <div class="form-group my-2">
            <label for="couponName">Coupon Name</label>
            <input type="text" name="couponName" class="form-control" id="couponName"
                placeholder="Enter Coupon name">
        </div>
        <div class="form-group my-2">
            <label for="couponDescription">Coupon Description</label>
            <input type="text" name="couponDescription" class="form-control" id="couponDescription"
                placeholder="Enter Coupon Description">
        </div>
        <div class="form-group my-2">
            <label for="couponType">Select Coupon Type</label>
            <select class="form-control" name="couponType" id="couponType" >
                <option>Percentage Discount</option>
                <option>Amount Discount</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="couponValue">Coupon Value</label>
            <input type="number" name="couponvalue" class="form-control" id="couponvalue"
                placeholder="Enter Coupon Value">
        </div>
        <div class="form-group my-2">
            <label for="couponStartDate">Start Date</label>
            <input type="date" name="couponStartDate" class="form-control" id="couponStartDate"
                placeholder="Enter Start Date">
        </div>
        <div class="form-group my-2">
            <label for="couponEndDate">End Date</label>
            <input type="date" name="couponEndDate" class="form-control" id="couponEndDate"
                placeholder="Enter End Date">
        </div>
        <div class="form-group my-2">
            <label for="minAmount">Minimum Purchase Amount</label>
            <input type="number" name="minAmount" class="form-control" id="minAmount"
                placeholder="Enter Minimum Purchase Amount">
        </div>
        <div class="form-group my-2">
            <label for="maxAmount">Maximum Purchase Amount</label>
            <input type="number" name="maxAmount" class="form-control" id="maxAmount"
                placeholder="Enter Maximum Purchase Amount">
        </div>
        <div class="form-group my-2">
            <label for="usageLimit">Usage Limit</label>
            <input type="number" name="usageLimit" class="form-control" id="usageLimit"
                placeholder="Enter Usage Limit for Coupon">
        </div>
        <div class="form-group my-2">
            <label for="usageLimitUser">Usage Limit per customer</label>
            <input type="number" name="usageLimitUser" class="form-control" id="usageLimitUser"
                placeholder="Enter Usage Limit for Coupon per customer">
        </div>
        <div class="form-group my-2">
            <label for="couponType">Status</label>
            <select class="form-control" name="Status" id="couponType" >
                <option>Enable</option>
                <option>Disable</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="noOfItems">Number of Items coupon can be applied on</label>
            <input type="number" name="noOfItems" class="form-control" id="noOfItems"
                placeholder="Enter number of items coupon can be applied on">
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-2 mt-4">Save Coupon</button>
            <button type="reset" class="btn btn-secondary mb-2 mt-4">Cancel</button>
        </div>
        
    </form>
</div>