
    <section>
        <div class="container">
<div class="row">
            <div class="col-md-6 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center">Add Products</h2>
                    <form action="/admin/add-product" method="post" role="form" id="submit-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="contact-name" name="name" placeholder="Product Name" required>
                            <span id="name-error" style="color: red;"></span>
                        </div>
                        <div class="form-group">

                            
                            
                            <label for="">Category</label>
                            <select id="product-category" name="category" class="form-select" aria-label="Default select example" required>
                            
                            {{#each categories}}
                            <option name="category" value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                            
                            </select>
                            
                            
                        </div>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="number" class="form-control" id="contact-price" name="price" placeholder="Price" required>
                            <span id="price-error" style="color: red;"></span>

                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <input type="text" class="form-control" id="contact-description" name="description" placeholder="Enter product description" required>
                            <span id="description-error" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Stock</label>
                            <input type="number" class="form-control" id="contact-stock" name="stock" placeholder="Stock" required>
                            <span id="stock-error" style="color: red;"></span>

                        </div>  
                        <div class="form-group">
                            <label for="">Image</label>
                            <input type="file" class="form-control" id="contact-image" name="image" placeholder="" required  multiple>
                        </div>  
                        {{!-- <div class="form-group">
                            <label for="">sub-Image2</label>
                            <input type="file" class="form-control" id="contact-image" name="image2" placeholder="" >
                        </div> 
                        <div class="form-group">
                            <label for="">sub-Image3</label>
                            <input type="file" class="form-control" id="contact-image" name="image3" placeholder="" >
                        </div> 
                        <div class="form-group">
                            <label for="">sub-Image4</label>
                            <input type="file" class="form-control" id="contact-image" name="image4" placeholder="" >
                        </div>   --}}


                              <div class="text-center">
                                 <button type="submit" id="contact-submit" class="btn btn-primary float-right mt-2" onclick="return validateForm()" >Add</button>
                             <div id="submit-error" style="color: red;"></div>
                              </div>
                                
                    </form>
                </div>
            </div>
        </div>
        </div>
        
    </section>
   
    



    