<div class="container">
    <h1 class="my-4">Edit your Credentials</h1>
    <form action="/edit-important-user-data" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="username" placeholder="Username/email" value="{{userData.email}}">        
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" >
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" name="NewPassword" class="form-control" id="new-password" placeholder="New Password" >
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>