<div class="container">
    <h1 class="my-4">Edit your Credentials</h1>
    <form action="/edit-important-user-data" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="username" placeholder="Username/email"
                value="{{userData.email}}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" name="NewPassword" class="form-control" id="new-password" placeholder="New Password">
        </div>
        <div class="mb-3">
            <label for="confirm-new-password" class="form-label">Confirm New Password</label>
            <input type="password" name="ConfirmNewPassword" class="form-control" id="confirm-new-password"
                placeholder="Confirm New Password">
            <p id="errorMessage" class="text-danger"></p>
        </div>

        <button type="button" onclick="checkPasswords()" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function checkPasswords() {
        let email=document.getElementById('username').value
        let password=document.getElementById('password').value
        let newPassword = document.getElementById('new-password').value
        let confirmNewPassword = document.getElementById('confirm-new-password').value

        console.log(email,password,newPassword, confirmNewPassword)

        let errorMessage = document.getElementById('errorMessage')

        if (newPassword.length != 0) {
            if (newPassword !== confirmNewPassword) {
                errorMessage.textContent = "Passwords do not match !"
            }
            else {
                $.ajax({
                    url: '/edit-important-user-data',
                    data: {
                        email: email,
                        password: password,
                        NewPassword: newPassword,
                        ConfirmNewPassword:confirmNewPassword
                    },
                    method: 'post',
                    success:(response)=>{
                        console.log("done")
                        location.href="/edit-credentials"
                    }
                })
            }
        }
    }
</script>