
<div class="container">
    <h1 class="my-4">Edit your Details</h1>
    <form action="/edit-basic-user-data" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="name" placeholder="Name" value="{{userData.name}}">
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="tel" name="mobile" class="form-control" id="mobile" placeholder="Mobile" value="{{userData.mobile}}">
        </div>
            
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</div>