<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="mt-4 mb-4">Enter your phone number</h1>
      <!-- Flash message -->
     
      <form action="/otp-login" method="POST">
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="tel" class="form-control" name="mobile" id="mobile" />
          
        </div>
        
        <br>
        <button type="submit" class="btn btn-success button-style">
          Get OTP
        </button>
      </form>
      <p class="mt-3">
        Don't have an account? <a href="/user-signup"> Sign Up!</a>
      </p>
      <p class="mt-3">
        Want to login by email? <a href="/user-login"> Log in</a>
      </p>
    </div>
  </div>
</div>