<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="mt-4 mb-4">Enter the OTP to Login</h1>
      <!-- Flash message -->
     <br><br>
      <form action="/verify-otp" method="POST">
        <div class="form-group">
          <label for="otp">OTP</label>
          <input type="number" class="form-control" name="otp" id="otp" />
          
        </div>
        
        <br>
        <button type="submit" class="btn btn-success button-style">
          Submit
        </button>
      </form>
      
    </div>
  </div>
</div>